<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html xmlns="http://www.w3.org/1999/xhtml"> <head>
<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
<link rel="home" href="" title="Front page">
<link rel="search" href="search_form" title="Doorzoek deze site">
<link rel="author" href="" title="Auteursinformatie">
<link rel="contents" href="sitemap" title="Website overzicht">
</head>
<body>
<div id="header" class="container_12">
<div class="grid_3">
<div id="portal-logo">
  <a href=""><img src="static/images/portrait_intro.jpg" alt="Home Maurits van Rees" /></a>
</div>
</div>
<div class="grid_6">
<h1>Maurits van Rees</h1>
<p>Dutch Python programmer, fantasy writer, christian</p>
</div>
<div class="grid_3">
<ul id="portal-siteactions">
    <li id="siteaction-sitemap"><a title="Site Map" accesskey="3" href="sitemap">Site Map</a></li>
    <li id="siteaction-contact"><a title="Contact" accesskey="9" href="contact-info">Contact</a></li>
</ul>
<div id="search" />
</div>
<div class="clear">&#160;</div>
<div class="grid_12">
<div id="menu" />
</div>
</div>
<div id="main" class="container_12">
<div class="grid_8 prefix_1">
  <div id="content" />
</div>
<div class="grid_2 prefix_1">
  <div id="sidebar" />
</div>
<div class="clear">&#160;</div>
</div>
<div id="footer" class="container_12">
<div class="grid_12">
<p>&#169; 2004-2016 Maurits van Rees. Built using <a href="http://plone.org">Plone</a> and <a href="http://pypi.python.org/pypi/xdv">XDV</a>.</p>
<p>Need a Web App based on Plone or Django?  Go to my employer <a href="http://zestsoftware.nl/">Zest Software</a>.</p>
<p><em>[Dutch]</em> Op zoek naar Online personeelsadministratie? Zest heeft <a href="http://prettigpersoneel.nl/">Prettig Personeel</a> gemaakt.</p>
<script type="text/javascript">
 var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16368080-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</div>
</div>
</body>
</html>
