<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html xmlns="http://www.w3.org/1999/xhtml"> <head>
<title>Maurits van Rees Theme</title>
<link rel="stylesheet" type="text/css" media="all" href="static/css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="static/css/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="static/css/960_simple.css" />
<link rel="stylesheet" type="text/css" media="all" href="static/css/maurits.css" />
</head>
<body>
<div id="header" class="container_12">
<div class="grid_6">
<div id="portal-logo">
  <a href=""><img src="static/images/portrait_intro.jpg" alt="Home Maurits van Rees" /></a>
</div>
</div>
<div class="grid_6">
<ul id="portal-siteactions">

    <li id="siteaction-sitemap"><a title="Site Map" accesskey="3" href="sitemap">Site Map</a></li>
    <li id="siteaction-accessibility"><a title="Accessibility" accesskey="0" href="accessibility-info">Accessibility</a></li>
    <li id="siteaction-contact"><a title="Contact" accesskey="9" href="contact-info">Contact</a></li>

</ul>
<div id="search" />
</div>
<div class="clear">&#160;</div>
<div class="grid_12">
<div id="menu" />
</div>
</div>
<div id="main" class="container_12">
<div class="grid_8">
  <div id="content" />
</div>
<div class="grid_4">
  <div id="sidebar" />
</div>
<div class="clear">&#160;</div>
</div>
<div id="footer" class="container_12">
<div class="grid_12">
<hr />
<p>Built using <a href="http://plone.org">Plone</a>.</p>
<p>Need a Web App based on Plone or Django?  Go to my employer <a href="http://zestsoftware.nl/">Zest Software</a>.</p>
<p>[Dutch] Op zoek naar Online personeelsadministratie? Zest heeft <a href="http://prettigpersoneel.nl/">Prettig Personeel</a> gemaakt.</p>
TODO: load google analytics.
</div>
</div>
</body>
</html>
