body {
    font: 16px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}
#header {
    background-color: #ccc;
    height: 149px;
}
#menu {
    background-color: red;
}
.hiddenStructure {
    display: none;
}
.documentActions {
    display: inline;
}
.documentActions {
    float: right;
    margin: 0.4em 0 0 0.5em;
    padding: 0;
}
.documentActions li {
    display: inline;
    list-style: none outside none;
    margin-left: 0;
}
img {
    border: medium none;
}
#portal-siteactions li, #portal-globalnav li {
    border-left: 1px solid #463229;
    display: inline;
    padding-left: 0.5em;
    margin-left: 0.5em;
}
#portal-siteactions li a {
    text-decoration: none;
}
a {
    color: #463229;
}
#portal-searchbox {
    clear: right;
    float: right;
}
#footer {
    color: #76797C;
    font-size: 85%;
}
