body {
    font: 16px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}
/* header height should be height of logo + 12 (half of the menu height) */
#header {
    background-color: #ccc;
    height: 149px;
}
#menu {
    background-color: red;
}
.hiddenStructure {
    display: none;
}
.documentActions {
    display: inline;
}
.documentActions {
    float: right;
    margin: 0.4em 0 0 0.5em;
    padding: 0;
}
.documentActions li {
    display: inline;
    list-style: none outside none;
    margin-left: 0;
}
img {
    border: medium none;
}
#portal-siteactions li, #portal-globalnav li {
    border-left: 1px solid #463229;
    display: inline;
    padding-left: 0.5em;
    margin-left: 0.5em;
}
#portal-siteactions li a {
    text-decoration: none;
}
a {
    color: #463229;
}
#portal-searchbox {
    clear: right;
    float: right;
}
#footer {
    background-color: #ccc;
    font-size: 85%;
    height: 120px;
}
#footer p {
    margin-bottom: 0.5em;
}
.weblog-topics-label {
    display: inline;
}
.weblog-entry .weblog-topics {
    color: #76797C;
    font-size: 85%;
    text-transform: lowercase;
}
.weblog-topics ul {
    display: inline;
    padding-left: 0;
}
.weblog-topics ul li {
    display: inline;
    margin-left: 0px;
}
.weblog-entry .weblog-topics a {
    color: #76797C;
}
.weblog-day-title {
    border-bottom: 1px solid #8CACBB;
    padding: 3px;
}
.weblog-read-more {
    font-size: 0.8em;
    font-weight: bold;
    padding-left: 0.6em;
}
pre {
    background: black;
    color: white;
    padding-left: 0.6em;
    overflow-x: auto;
    font-size: 85%;
}