
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #aa001f url(++resource++static/images/img02.gif) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #D71D3E;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #D71112;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #E1F1F6;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
	margin-left: 25px;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0; 
	padding: 0;
	background: #000000 url(++resource++static/images/img03.gif) repeat-x; 
}

/* Header */

#header {
	width: 1000px;
	height: 120px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	height: 100px;
	margin: 0;
	margin-left: 40px;
	padding: 0px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 30px;
	letter-spacing: -1px;
	text-transform: lowercase;
	text-shadow: #808080 -1px 1px 2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 64px;
}

#logo p {
	margin: 0;
	padding: 30px 0 0 34px;
	text-shadow: #808080 -1px 1px 2px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
    margin-right: 40px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 930px;
	height: 49px;
	margin: auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 4px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-right: 1px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: #8A5608 -1px 1px 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu .current_page_item a {
}

#menu a:hover {
	text-decoration: none;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}

#page-bgtop {
}

#page-bgbtm {
	margin: 0px;
	padding: 40px 30px 0px 30px;
}

/* Content */

#content {
	float: left;
	width: 620px;
	padding: 0px 20px 0px 0px;
    margin-top: 10px;
    margin-left: 10px;
}

.post {
	padding-top: 20px;
}

.post .title {
	letter-spacing: -1px;
}

.post .title a {
	color: #D71D3E;
	border: none;
}

.post .meta {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry, #content-core {
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 250px;
	padding: 0px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 15px;
}

#sidebar li li, .navTreeItem {
	padding-left: 15px;
	line-height: 35px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2, .portletHeader {
	height: 38px;
	padding: 12px 5px 0 15px;
	letter-spacing: -1px;
	font-size: 18px;
	color: #FFFFFF;
}

#sidebar p, {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
}

#sidebar a {
	border: none;
	color: #D71112;
}

#sidebar .portletHeader a, #sidebar .portletFooter a  {
	border: none;
	color: white;
    text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #D71112;
}

#sidebar .portletHeader a:hover, #sidebar .portletFooter a:hover {
	color: white; 
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	background: #aa001f; 
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}

/* ACLARK additions - rip off http://svn.plone.org/svn/collective/Products.Doormat/trunk/Products/Doormat/browser/stylesheets/doormat.css */

#portal-footer {
  background: #aa001f;
  font-size: 75%;
  width: 740px;
  margin-top: 15px;
}
#portal-footer h2 {
  margin: 0.5em 0.5em 0px 0.5em;
}
#portal-footer h3 {
  margin: 0.5em 0px;
}
#portal-footer dl {
  margin: 0.5em 0px;
}
#portal-footer dl dd {
  margin-left: 0px;
}
#portal-footer .doormatColumn {
  float: left;
}
#portal-footer.columns-2 .doormatColumn {
  width: 48%;
}
#portal-footer.columns-3 .doormatColumn {
  width: 31%;
}
#portal-footer.columns-4 .doormatColumn {
  width: 23%;
}
#portal-footer.columns-5 .doormatColumn {
  width: 18%;
}
#portal-footer.columns-6 .doormatColumn {
  width: 14%;
}
#portal-footer.columns-7 .doormatColumn {
  width: 12%;
}

/* ACLARK additions */

#portal-globalnav li a:hover, .selected a {
    background: white; 
    color: #aa001f !important;
    border-radius: 2px; 
}

pre {
    background: #191919;
}

#content-views li, #contentActionMenus li {
    display: inline;
}

#portal-footer li, .navTree li, #portal-sitemap li {
    list-style-image: url(++resource++static/images/img01.gif); 
}

dd {
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

#portal-breadcrumbs { 
    margin-left: 10px;
}

.documentDescription {
    font-size: 90%;
}

.small {
    font-size: 90%;
}

.portletFooter {
    padding-top: 5px;
    font-size: 90%;
}

.col1 {
    float: left;
    height: 15em;
    width: 40%;
}

.col2 {
    float: right;
    height: 15em;
    width: 60%;
}

.page {
    margin-top: 45px;
}

.service-images {
    margin-top: 100px;
}
